<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MyPortfolio</title>
    </head>
    <body>

        <a th:href = "@{/home}"> /Номе</a>

        <h1>Portfolio:</h1>

        <div>
            <a th:href = "@{${'/portfolio/edit/' + portfolio.portfolioId}}" th:text="' Portfolio info |'"> |</a>
            <span> Operations | </span>

            <p/>
            <span th:text="${portfolio.portfolioName}"/>

            <!--
            <p/>
            <a th:href="@{${'/operation/add/' + portfolio.portfolioId}}">
                <input type="button" value="Add operation" />
            </a>
            -->

        </div>        
    </body>
</html>
