<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MyPortfolio</title>
    </head>

    <body>
        <div>

            <a th:href = "@{/}">Home</a>                    

            <p/>
            <a th:href = "@{/portfolio/list}">Portfolios</a>

            <p/>
            <a th:href = "@{/instrument/list}">Instruments</a>
            
            <p/>
            <a th:href = "@{/operation/list}">Operations</a>

            <p/>
            <a th:href = "@{/report/}">Reports</a>
            
        </div>
    </body>
</html>
